<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mz.sanfen.ipc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />

        <service
            android:name=".AIDLService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.mz.sanfen.ipc" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name=".messenger.MessengerActivity"
            android:label="@string/title_activity_messenger"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <service
            android:name=".messenger.MessengerService"
            android:enabled="true"
            android:exported="true"
            android:process=":messenger" />

        <provider
            android:name=".provider.BookProvider"
            android:authorities="com.mz.sanfen.ipc.provider.BookProvider"
            android:permission="com.mz.sanfen.ipc"
            android:process=":provider" />

        <activity android:name=".provider.ProviderActivity" />

    </application>

</manifest>